body {
    font-family: Roboto, "PingFang TC", sans-serif;
    line-height: 1.5;
}

.heading {
    &-1 {
        font-size: $font-size--base * 4;

        @include responsive(tablet) {
            font-size: $font-size--base * 3;
        }

        @include responsive(phone) {
            font-size: $font-size--base * 2;
        }
    }

    &-2 {
        font-weight: 600;
        font-size: $font-size--base * 3;

        @include responsive(tablet) {
            font-size: $font-size--base * 2;
        }

        @include responsive(phone) {
            font-size: $font-size--base * 1.5;
        }
    }

    &-3 {
        font-size: $font-size--base * 2.25;

        @include responsive(tablet) {
            font-size: $font-size--base * 1.75;
        }

        @include responsive(phone) {
            font-size: $font-size--base * 1.25;
        }
    }
}