.faq {
    .banner {
        background: url(../img/@2x/72@2x.png) center / cover;
        height: 19rem;

        @include responsive(phone) {
            height: 9rem;
        }

        .container {
            position: relative;
            @include flex(flex-start, flex-end);
            height: 100%;
        }

        &__text {
            @include flex(flex-start, center);
        }

        &__title {
            font-weight: 500;
            line-height: 1.25;

            @include responsive(phone) {
                font-size: 1.75rem;
            }
        }

        &__icon {
            margin-left: 0.625rem;

            @include responsive(tablet) {
                width: 3rem;
                margin-left: 1rem;
            }

            @include responsive(phone) {
                width: 1.5rem;
                margin-left: 0.5rem;
            }
        }
    }

    .content {
        padding: 5.5rem 0 9.75rem;

        @include responsive(tablet) {
            padding: 2.5rem 0 6.5rem;
        }

        @include responsive(phone) {
            padding: 1.5rem 0 3.5rem;
        }

        &__heading {
            margin-bottom: 1rem;
            font-weight: 500;
            font-size: 2rem;

            @include responsive(tablet) {
                margin-bottom: 2rem;
                font-size: 1.75rem;
            }

            @include responsive(phone) {
                margin-bottom: 1rem;
                font-size: 1.25rem;
            }
        }
    }
}