// Colors
$color-primary: #AA0601;
$color-primary--dark: #650300;
$color-primary--light: #FBF2F2;

$gray--dark-01: #111619;
$gray--dark-02: #212529;

// $gray--light-01: #DEE2E6;

// Fonts
$font-size--base: 1rem;